* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#780206, #061161);
    text-align: center;
    color: whitesmoke;
}

.container {
    margin: 0 auto;
    max-width: 500px;
}

.disability-num {
    padding: .75em 2em;
    margin: 1em;
    background: yellow;
    border: none;
}

.disability-num:hover,
.disability-num:focus,
.entered-rating-btn:hover,
.entered-rating-btn:focus  {
    cursor: pointer;
    background-color: burlywood;
}

.entered-rating-btn {
    padding: .75em 2em;
    margin-right: 1em;
    font-weight: 700;
    background-color: rgb(225, 211, 9);
    border: none;
}

.additional-calcs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    margin-right: 50px;
}

img {
    width: 100%;
    max-width: fit-content;
    margin-top: 1em;
}