* {
    box-sizing: border-box;
}

body {
    background: #0F044C;
    text-align: center;
    color: #EEEEEE;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.disability-num {
    padding: .75em 2em;
    margin: 1em;
    background: #EEEEEE;
    border: none;
    font-weight: bold;
    border-radius: 5%;
    font-size: 1.25em;
}

.disability-num:hover,
.disability-num:focus,
.entered-rating-btn:hover,
.entered-rating-btn:focus  {
    cursor: pointer;
    background-color: #787A91;
}

.entered-rating-btn {
    padding: .5em 1em;
    margin-right: 1em;
    font-weight: 700;
    background-color: rgb(225, 211, 9);
    border: none;
    border-radius: 5%;
}

.additional-calcs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    margin-right: 50px;
}

img {
    width: 100%;
    max-width: fit-content;
    margin-top: 1em;
}
